BEGIN;
--
-- Create model Event
--
CREATE TABLE "event_event" ("id" uuid NOT NULL PRIMARY KEY, "title" varchar(255) NOT NULL, "description" text NULL, "cover_image_url" varchar(100) NULL, "type" varchar(100) NULL, "start_date" timestamp with time zone NOT NULL, "end_date" timestamp with time zone NOT NULL, "latitude" double precision NOT NULL, "longitude" double precision NOT NULL, "location" varchar(255) NOT NULL, "address" text NULL, "max_paticipants" integer NULL, "current_paticipants" integer NOT NULL, "equipment" text NULL, "difficulty" varchar(50) NULL, "eco_point_reward" integer NOT NULL, "status" varchar(50) NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "organizer_id_id" uuid NOT NULL);
--
-- Create model TourStop
--
CREATE TABLE "event_tourstop" ("id" uuid NOT NULL PRIMARY KEY, "name" varchar(255) NOT NULL, "description" text NULL, "latitude" double precision NULL, "longitude" double precision NULL, "location" varchar(255) NULL, "order_index" integer NOT NULL, "goal" varchar(255) NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "event_id_id" uuid NOT NULL);
--
-- Create model EventParticipants
--
CREATE TABLE "event_eventparticipants" ("id" uuid NOT NULL PRIMARY KEY, "status" varchar(50) NOT NULL, "joined_at" timestamp with time zone NOT NULL, "checked_in_at" timestamp with time zone NULL, "event_id" uuid NULL, "user_id" uuid NULL);
ALTER TABLE "event_event" ADD CONSTRAINT "event_event_organizer_id_id_1e4be415_fk_oauth_user_id" FOREIGN KEY ("organizer_id_id") REFERENCES "oauth_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "event_event_organizer_id_id_1e4be415" ON "event_event" ("organizer_id_id");
ALTER TABLE "event_tourstop" ADD CONSTRAINT "event_tourstop_event_id_id_89336807_fk_event_event_id" FOREIGN KEY ("event_id_id") REFERENCES "event_event" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "event_tourstop_event_id_id_89336807" ON "event_tourstop" ("event_id_id");
ALTER TABLE "event_eventparticipants" ADD CONSTRAINT "event_eventparticipants_event_id_user_id_f19f6be3_uniq" UNIQUE ("event_id", "user_id");
ALTER TABLE "event_eventparticipants" ADD CONSTRAINT "event_eventparticipants_event_id_7c16497d_fk_event_event_id" FOREIGN KEY ("event_id") REFERENCES "event_event" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "event_eventparticipants" ADD CONSTRAINT "event_eventparticipants_user_id_349821a9_fk_oauth_user_id" FOREIGN KEY ("user_id") REFERENCES "oauth_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "event_eventparticipants_event_id_7c16497d" ON "event_eventparticipants" ("event_id");
CREATE INDEX "event_eventparticipants_user_id_349821a9" ON "event_eventparticipants" ("user_id");
COMMIT;
